<!doctype html>
<html>
<head>
	{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}{{ title }}{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{{ theme.path }}css/normalize.css">
		<link rel="stylesheet" type="text/css" href="{{ theme.path }}css/main.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/rainbow.min.css">
		<script src="{{ theme.path }}/highlight.pack.js"></script>
		{% for name in tags %}
			{% if site.data.languages.lang is containing(name) %}
				<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/{{ name }}.min.js"></script>
			{% endif %}
		{% endfor %}
	{% endblock head %}
</head>
<body>
<div id="page">
	<nav class="main">
		<header class="main">
			<a class="menu-icon" href="#">&#9776</a>
			{% block header %}
				<h1><a href="{{ rootpath }}index.html">cecton's blog</a></h1>
			{% endblock header %}
		</header>
		{% include "_menu.html" %}
	</nav>

	<section class="main">
		{% block main %}{{ body }}{% endblock main %}
	</section>
</div>
<script>hljs.initHighlighting();</script>
<script>
var i = document.querySelector(".menu-icon");
var m = document.querySelector("nav.main");
i.addEventListener('click', function(ev) {
m.classList.toggle("menu-open");
ev.preventDefault();
})
</script>
</body>
</html>
